* {
  font-family:sans-serif;
}

/* All tables must be in the center and have the same width */
table {
  width:500px;
  margin:auto;
}


td~td {
  text-align:left;
}
td+td {
  text-align:right;
}

/* This is for the current block */
.main-table {
  font-size:40pt;
  width:500px;
  margin:auto;
  margin-top:35px;
}

