* {
  font-family:sans-serif;
}

/* All tables must be in the center and have the same width */
table {
  width:500px;
  margin:auto;
  border-radius:5px;
  border:1px solid #000;
}


td~td {
  text-align:left;
}
td+td {
  text-align:right;
}

/* This is for the current block */
.main-table {
  font-size:40pt;
  margin-top:35px;
}

.all-blocks {
  font-size: 25pt;
  margin-top:50px;
}

select {
  width:100%;
  height:40px;
  font-size:30px;
}

/* Odd rows are white and even rows are gray */
.odd-row {
  background-color: #fff;
}
.even-row {
  background-color: #eee;
}
